.headline {
  background-color: black;
  font-size: 32px;
  text-align: center;
  color: greenyellow;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Q {
  padding: 2px;
  margin: 1em;
  background-color: rgb(168, 238, 122);
  font-size: 24px;
  color: black;
}
.Ans {
  font-size: 24px;
  text-indent: 1em;
  color: black;
  margin: 1em 0;
  padding: 0 300px;
}
