 *{
  box-sizing: border-box;
 }
 .headline {
  background-color: black;
  font-size: 32px;
  text-align: center;
  color: greenyellow;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.Q {
  padding: 2px;
  margin-top: 1em;
  background-color: rgb(168, 238, 122);
  font-size: 24px;
  color: black;
  text-align: center;
}
.Ans {
  font-size: 24px;
  text-indent: 1em;
  color: black;
  margin-top: 1em;
  padding: 2px;
}
table {
  border: black 0.5px solid;
  border-collapse: collapse;
  width:498 px;
  background-color: wheat;
  text-align: center;
  margin: 1em;
}
tr {
  border: black 0.5px solid;
}
th {
  border: black 0.5px solid;
}
td {
  border: black 0.5px solid;
}

@media screen and (max-width: 500px){

.Q {
  font-size: 18px;
  margin-top: 1em;
 }
 .Ans{
  font-size: 18px;
  margin-top: 1em;
 }
}
